  <div class="left">
    <%= link_to "ArtsBox", :controller => :home %> 
  </div>

  <div class="right">
    <% if @active -%>
    <%= link_to "Stream", user_feeds_path(@active) %> |
    <%= link_to "Styles", edit_user_style_path(@active, @active.style) %> |
    <%= link_to "Profile", permalink_path(@active) %> |
    <%= link_to "Account", account_path(@active) %> 
    ( <%= link_to "<i>Logout</i>", logout_path %> )
    <% else -%>
    <%= link_to "SIGNUP", signup_path %> or
    <%= link_to 'Login', login_path %> 
    <% end -%>
  </div>