<h1>Events</h1>

<table>
  <tr>
	<th>Image</th>
    <th>Title</th>
    <th>Location</th>
    <th>Venue</th>
	<th></th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%= image_tag event.image.url(:small) %></td>

    <td><%=h event.title %></td>
    <td><%=h event.location %></td>
    <td><%=h event.venue %></td>
    <td><%= link_to 'Show', box_event_path(@box, event) %> |
	
			<% if active_box %>
    	<%= link_to 'Edit', edit_box_event_path(@box, event) %> |
    	<%= link_to 'Destroy', box_event_path(@box, event), :confirm => 'Are you sure?', 
									  :method => :delete %>
			<% else %>
			<% end %>
			</td>
  </tr>
<% end %>
</table>

<br />

<% if active_box %>
<%= link_to "#{image_tag "icons/calendar_plus.png"} List a new event", new_box_event_path(@box) %>
<% end %>