<h1>Something else</h1>
<p><%= link_to "ArtsBox is here to stay" %><br />
<%= link_to "What do you think" %><br />
<%= link_to "Community forums" %><br />
<%= link_to "These are cool" %><br />
<%= link_to "Terms and conditions" %></p>