
	<h1><%=h @post.title %></h1>
	
	<p class="post_comment_count">
		<b><%=h @post.comments.size %></b> 
		comments have been made on this post.</h2>
	<span class="post_comment_last_made_by">	
		The last was made by
		<% if @post.comments.size > 0 %> 
		<%= link_to "#{@post.comments.last.user.permalink}", 
								permalink_path(@post.comments.last.user.permalink) %> 		
		<%= time_ago_in_words(@post.comments.last.created_at) %> ago.
		<% end %>
	</span>
	</p>

	<div id="post_body"><%= textilize(@post.body) %></div>

	<% if active_user %>
	<p><%= link_to "#{image_tag "icons/newspaper_pencil.png"} Edit this post", edit_user_post_path(@user, @post) %></p>	
	<% end %>
	<% if @active %>
	<%= render :partial => "comments/new" %>
	<% else %>
	<% end %>
	
	<div id="comments">
	<%= render :partial => "comments/comment", :collection => @comments %>
	</div>
	
	<% if not active_user %>
	<p><%= link_to "Login", login_path %> or <%= link_to "signup", signup_page_path %> to comment</p>
	<% end %>
	